
      <div class="site-navbar-top">
        <div class="container">
          <div class="row align-items-center">

            <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
              <form action="{% url 'search' %}" class="site-block-top-search" method="GET">
                <span class="icon icon-search2"></span>
                <input type="text" class="form-control border-0" name="keyword" placeholder="Search">
              </form>
            </div>

            <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
              <div class="site-logo">
                <a href="{% url 'index' %}" class="js-logo-clone">Shoppers</a>
              </div>
            </div>

            <div class="col-6 col-md-4 order-3 order-md-3 text-right">
              <div class="site-top-icons">
                <ul>
                  {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}"><span class="icon icon-person"></span></a></li> 
                  {% else %}  
                    <li><a href="{% url 'login' %}"><span class="icon icon-person"></span></a></li>
                  {% endif %}  
                  {% if user.is_authenticated%}
                      <li><a href="#"><span class="icon icon-heart"></span></a></li>
                    {% else %}
                      <li><a href="#"><span class="icon icon-heart-o"></span></a></li>
                    {% endif %}
                  {% if user.is_authenticated %}
                    <li>
                      <a href="{% url 'dashboard' %}" class="site-cart">
                        <span class="icon icon-shopping_cart"></span>
                        {% if cart_size is not none %}
                          <span class="count">{{ cart_size }}</span>
                        {% endif %}  
                      </a>
                    </li> 
                  {% endif %}    
                  <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a></li>
                </ul>
              </div> 
            </div>

          </div>
        </div>
      </div>